#wrapper {
	text-align: center;
	margin: 0 auto;
}

nav {
	margin-top: 35px;
	margin-bottom: 20px;
}

nav a {
	color: #024578;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 24px;
	text-decoration: none;
	margin-right: 50px;
	margin-left: 50px;
}

nav a:hover {
	text-decoration: underline;
}

.three img{
	margin-top: 45px;
	max-width: 29%;
}

.three h1{
	color: #024578;
	font-family: 'Muli', sans-serif;
	font-size: 40px;
	margin-top: 25px;
	margin-bottom: 40px;
	font-weight: bolder;
}

.three p{
	color: #024578;
	font-family: 'Muli', sans-serif;
	font-size: 15px;
	text-align: left;
	line-height: 25px;
	margin-bottom: 10px;
}

#mystory {
	float: left;
	width: 33%;
	display: block;
}

#mystory p {
	width: 296px;
	margin-left: 121px;
}

#mystory img {
	margin-left: 100px;
}

#mystory h1 {
	margin-left: 100px;
}

#mytoolbox {
	float: left;
	width: 33%;
	display: block;
	margin-bottom: 15px;
}

#mytoolbox ul{
	list-style-type: disc;
	margin-left: 77px;
}

#mytoolbox dd{
	color: #024578;
	font-family: 'Muli', sans-serif;
	font-size: 15px;
	text-decoration: underline;
	text-align: left;
	margin-left: 55px;
	line-height: 25px;
}

#mytoolbox dl{
	color: #024578;
	font-family: 'Muli', sans-serif;
	font-size: 15px;
	text-decoration: underline;
	text-align: left;
	margin-left: 50px;
	line-height: 25px;
	margin-top: 10px;
}

#mytoolbox li{
	color: #024578;
	font-family: 'Muli', sans-serif;
	font-size: 15px;
	text-align: left;
	line-height: 25px;
}

#metoday {
	float: left;
	width: 33%;
	display: block;
}

#metoday p {
	width: 310px;
	margin-left: 10px;
}

#metoday img {
	margin-right: 100px;
}

#metoday h1 {
	margin-right: 100px;
}

#metoday a {
	margin-right: 112px;
	color: #024578;
	font-family: 'Muli', sans-serif;
	font-size: 15px;
	text-decoration: none;
	border-style: solid;
	background: #D6D6D6;
	border-width: 10px 20px 10px 20px;
	border-color: #D6D6D6;
	border-radius: 5px;
}

footer {
	text-align: center;
	margin: 0 auto;
	background-color: #024578;
	color: #ffffff;
	font-family: 'Muli', sans-serif;
	font-size: 8px;
	clear: both;
}

footer img{
	max-width: 20px;
	max-height: 20px;
	margin-top: 25px;
	margin-right: 25px;
	margin-left: 25px;
}

footer dd{
	padding-top: 15px;
	padding-bottom: 13px;
}
