#wrapper {
	text-align: center;
	margin: 0 auto;
}

nav {
	margin-top: 35px;
	margin-bottom: 20px;
}

nav a {
	color: #024578;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 24px;
	text-decoration: none;
	margin-right: 50px;
	margin-left: 50px;
}

nav a:hover {
	text-decoration: underline;
}

/*#mystory {
	float: left;
}

#mytoolbox {
	float: left;
}

#metoday {
	float: left;
}

*/

footer {
	text-align: center;
	margin: 0 auto;
	background-color: #024578;
	color: #ffffff;
	font-family: 'Muli', sans-serif;
	font-size: 8px;
}

footer img{
	max-width: 20px;
	max-height: 20px;
	margin-top: 25px;
	margin-right: 25px;
	margin-left: 25px;
}

footer dd{
	padding-top: 15px;
	padding-bottom: 9px;
}
