#wrapper {
	text-align: center;
	margin: 0 auto;
}

nav {
	margin-top: 35px;
	margin-bottom: 20px;
}

nav a {
	color: #024578;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 24px;
	text-decoration: none;
	margin-right: 50px;
	margin-left: 50px;
}

nav a:hover {
	text-decoration: underline;
}

#bigimage {
	vertical-align: bottom;
	margin-top: 10px;
	width: 30%;
}

#hello {
	text-align: center;
	margin: 0 auto;
	background-color: #024578;
	color: #ffffff;
	font-family: 'Muli', sans-serif;
}

.hello h1{
	font-size: 50px;
	padding-top: 20px;
	padding-bottom: 10px;
}

.hello p{
	font-size: 20px;
	padding-top: 2.5px;
	padding-bottom: 2.5px;
	line-height: 25px;
}

footer {
	text-align: center;
	margin: 0 auto;
	background-color: #024578;
	color: #ffffff;
	font-family: 'Muli', sans-serif;
	font-size: 8px;
	clear: both;
}

footer img{
	max-width: 20px;
	max-height: 20px;
	margin-top: 25px;
	margin-right: 25px;
	margin-left: 25px;
}

footer dd{
	padding-top: 15px;
	padding-bottom: 13px;
}
