#wrapper {
	text-align: center;
	margin: 0 auto;
}

nav {
	margin-top: 35px;
	margin-bottom: 20px;
}

nav a {
	color: #024578;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 24px;
	text-decoration: none;
	margin-right: 50px;
	margin-left: 50px;
}

nav a:hover {
	text-decoration: underline;
}

.threecolumns {
	margin: 0 80px;
}

.about_me_sections {
  float: left;
  width: 30%;
  margin: 0 1.5% 24px 1.5%;
}

.threecolumns img{
	margin-top: 45px;
	max-width: 27%;
}

.threecolumns h1{
	color: #024578;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 50px;
	margin-top: 30px;
	margin-bottom: 40px;
	font-weight: 900;
}

.about_me_sections p{
	color: #024578;
	font-family: 'Muli', sans-serif;
	font-size: 15px;
	text-align: left;
	line-height: 25px;
	margin-bottom: 10px;
}

.about_me_sections dd{
	color: #024578;
	font-family: 'Muli', sans-serif;
	font-size: 15px;
	text-align: left;
	line-height: 25px;
	text-decoration: underline;
}

.about_me_sections ul{
	list-style-type: disc;
	margin-left: 20px;
}

.about_me_sections li{
	color: #024578;
	font-family: 'Muli', sans-serif;
	font-size: 15px;
	text-align: left;
	line-height: 25px;
}

.about_me_sections li:last-child {
	margin-bottom: 10px;
}

#metoday button{
	margin-top: 35px;
	color: #024578;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 15px;
	font-weight: 550;
	text-decoration: none;
	border-style: solid;
	background: #D6D6D6;
	border-width: 10px 20px;
	border-color: #D6D6D6;
	border-radius: 5px;
}

footer {
	text-align: center;
	margin: 0 auto;
	background-color: #024578;
	color: #ffffff;
	font-family: 'Muli', sans-serif;
	font-size: 8px;
	clear: both;
}

footer img{
	max-width: 20px;
	max-height: 20px;
	margin-top: 25px;
	margin-right: 25px;
	margin-left: 25px;
}

footer dd{
	padding-top: 15px;
	padding-bottom: 13px;
}
